<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sohan/Customer</title>
    <!-- added for razorpay -->
    <meta content="width=device-width" name="viewport">
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <link href="/css/empForm.css" rel="stylesheet" th:href="@{/css/empForm.css}">

</head>
<body>
<!-- Page Wrapper -->
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SOHAN</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="index.html" th:href="@{/index}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <!-- Nav Item - Customer -->
        <li class="nav-item active">
            <a aria-controls="collapseTwo" aria-expanded="true" class="nav-link collapsed" data-target="#collapseTwo"
               data-toggle="collapse" href="#">
                <i class="fas fa-fw fa-cog"></i>
                <span>Customers</span>
            </a>
            <div aria-labelledby="headingTwo" class="collapse" data-parent="#accordionSidebar" id="collapseTwo">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Customer Opeations:</h6>
                    <a class="collapse-item" href="customer.html" th:href="@{/customer}">Add new Customer</a>
                    <a class="collapse-item" href="checkout.html" th:href="@{/customers/show}">View</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Customer -->

        <!-- Nav Item - Payments -->
        <li class="nav-item">
            <a class="nav-link" href="cart_checkout.html" th:href="@{/checkout}">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Payments</span></a>
        </li>
    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div class="d-flex flex-column" id="content-wrapper">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input aria-describedby="basic-addon2" aria-label="Search"
                               class="form-control bg-light border-0 small"
                               placeholder="Search for..." type="text">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="searchDropdown" role="button">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div aria-labelledby="searchDropdown"
                             class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input aria-describedby="basic-addon2" aria-label="Search"
                                           class="form-control bg-light border-0 small" placeholder="Search for..."
                                           type="text">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="alertsDropdown" role="button">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="messagesDropdown" role="button">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                           data-toggle="dropdown"
                           href="#" id="userDropdown" role="button">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Sohan Barman</span>
                            <img alt="sohan" class="img-profile rounded-circle" src="images/sohan.jpg"
                                 style="opacity: .8" th:src="@{/images/sohan.jpg}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div aria-labelledby="userDropdown"
                             class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal" href="#">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Customer Payment list</h1>
                </div>
            </div>
            <!-- Checkout Content -->
        </div><!-- End of main container -->
        <div class="container body" id="check_form">
            <div class="alert alert-success" id="pay-success" style="display:none;">
                <strong>Payment Completed Successfully</strong>
            </div>
            <div class="card-body" id="emp_form">

                <form id="msform">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input class="form-control" id="name" name="name" placeholder="Enter Your Name"
                               required="required"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" id="email" name="email" placeholder="Enter Your Email"
                               required="required"
                               type="email">
                    </div>
                    <div class="form-group">
                        <label for="contact">Contact</label>
                        <input class="form-control" id="contact" name="contact" placeholder="Enter Your Contact"
                               required="required" type="number">
                    </div>

                    <button class="btn btn-primary" id="submit-form" type="button">Submit</button>
                </form>
            </div>
        </div>
    </div><!-- End of container wrapper-->
</div>

<script crossorigin="anonymous"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- razorpay -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    function doPost(path, reqObj, isAsync) {
        console.log("payment started...");
        let resp;
        // let amount=document.getElementById("pay_amount").value;
        $.ajax({
            url: path,
            type: 'POST',
            data: JSON.stringify(reqObj),
            contentType: "application/json; charset=UTF-8",
            async: isAsync,
            success: function (data) {
                resp = JSON.parse(data)
            }
        });
        return resp;
    }
</script>
<script>
    function docheck(path, reqObj, isAsync) {
        console.log("Check started...");
        let resp;
        // let amount=document.getElementById("pay_amount").value;
        $.ajax({
            url: path,
            type: 'POST',
            data: JSON.stringify(reqObj),
            contentType: "application/json; charset=UTF-8",
            async: isAsync,
            success: function (data) {
                resp = JSON.parse(data);
                alert("success");
                //console.log(resp);
            },
            error: function (data) {
                resp = JSON.parse(data);
                alert("error");
                //console.log(resp);
            }
        });
        return resp;
    }
</script>
<script>
    let resp = null;
    let o_id = null;

    var options = {
        "name": "",
        "email": "",
        "contact": ""
    };
    document.getElementById('submit-form').onclick = function (e) {
        var reqObj = $('#msform').serializeArray();
        // let reqObj=$("#amount").val();
        console.log(reqObj);
        var indxReqObj = {};
        $.map(reqObj, function (n, i) {
            indxReqObj[n['name']] = n['value'];
        });

        resp = doPost("/customers/create", indxReqObj, false);
        console.log(resp);
        alert(" Successfully created")

    }
</script>
</body>
</html>